@model SmallCartViewModel


    @* <p> Items in cart:<span class="badge badge-primary">@Model.NumberOfItems</span></p>
    <p>Total:<b>@Model.TotalAmount.ToString("C2")</b></p>
    <a class=" btn btn-primary mb-2" asp-controller="Cart" asp-action="Index">View Cart</a>
    <a  class="btn btn-danger" asp-controller="Cart" asp-action="Clear">Clear Cart</a> *@
    <li class="nav-item px-2">
        <a class="nav-link position-relative" asp-controller="Cart" asp-action="Index">
        <i class="bi bi-cart"></i>
        <span class="badge rounded-pill bg-warning position-absolute top-1 start-100 translate-middle">
            @(Model != null ?  Model.NumberOfItems : 0)
        </span>
        <span>Cart</span>
        </a>
    </li>









