@using ShoppingCart.Repository.BankSystem.BankSystemModels;
@model ShoppingCart.Repository.BankSystem.VendorPaymentData

@{
    ViewData["Title"] = "Checkout";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <main>
        <div class="container-fluid mx-0 px-0">
            <div class="row">
                <div class="col-md-6 bg-color vh-100 mx-0"></div>
                <div class="col-md-6">
                    <div class="row mt-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h5 class="mb-3">Pay with card</h5>
                            <form asp-action="VendorPayment" method="post">
                            <div class="mb-3">
                                <label for="cardInfo" class="form-label">Card information</label>
                                <input asp-for="VendorAccount.CardNumber" type="number" class="form-control" id="cardInfo">
                                 <div class="d-flex">
                                    <input   asp-for="VendorAccount.ExpirationDate" type="date" class="form-control" id="month" name="month" placeholder="MM/YY">
                                    <input asp-for="VendorAccount.CVV" type="number" class="form-control" id="cvc" name="cvc" placeholder="CVC">
                                 </div>
                            </div>
                                <label asp-for="VendorAccount.PaymentType"></label>
                                <select asp-for="VendorAccount.PaymentType" asp-items="Html.GetEnumSelectList<PaymentType>()"></select>
                            <div class="mb-3">
                                <label for="nameOnCard" class="form-label">Name on card</label>
                                <input asp-for="VendorAccount.NameOnCard" type="text" class="form-control" id="nameOnCard" >
                            </div>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                                @if(TempData["msg"] != null)
                                {
                                    <p>@TempData["msg"]</p>
                                }
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
           
        </div>
    </main>
</body>
</html>

<style>
    .bg-color{
        background: #FFC108;
        background: linear-gradient(180deg, #FFC108, #FFFFFF);
    }
</style>